@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import "tailwindcss";

.head-font {
  font-family: "Delius Swash Caps", cursive;

  font-style: normal;
}

.animation-custom {
  animation: appear 2s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 400px;
  will-change: transform, opacity;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animation-x {
  animation: appear-x 1s linear;
  will-change: transform, opacity;
}

@keyframes appear-x {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
